.contact-me {
  display: flex;
  flex-direction: column;
  gap: 20px;

  justify-content: center;

  width: 70%;

  &__name {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
}
